{% extends 'main.html' %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    table {
        border-spacing: 5px;
        width: 100%;
    }
    .txt_center {
        text-align: center;
        font-size: x-large;
    }
    .center {
        margin: auto;
        width: 50%;
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
        color: green;
        text-decoration: none;
    }
    .inline {
        display: inline-block;
    }
    .checked {
        color: orange;
    }
</style>

<div class="center">
    <h2 class="txt_center inline">{{ pokemon.name|title }}</h2>
    <form action="{% url 'pokemon:favourite' pk=pokemon.id %}" method="POST" class="inline">
        {% csrf_token %}
        {{ form }}
        <button type="submit"><i class="fa fa-star checked">Favorite</i></button>
    </form>
    <form action="{% url 'pokemon:unfavourite' pk=pokemon.id %}" method="POST" class="inline">
        {% csrf_token %}
        {{ form }}
        <button type="submit"><i class="fa fa-star">Unfavorite</i></button>
    </form>
</div>



<table>
    <caption>{{ pokemon.name }} base details</caption>
    <tr>
        <th>Sprite</th>
        <td>
            <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ pokemon.name }}</td>
    </tr>
    <tr>
        <th>ID</th>
        <td>{{ pokemon.id }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ pokemon.type_list|join:", " }}</td>
    </tr>
    <tr>
        <th>Height</th>
        <td>{{ pokemon.height }}</td>
    </tr>
    <tr>
        <th>Weight</th>
        <td>{{ pokemon.weight }}</td>
    </tr>
    <tr>
        <th>Abilities</th>
        <td>{{ pokemon.ability_list|join:", " }}</td>
    </tr>
</table>
<br>
<table>
    <caption>{{ pokemon.name }} stats</caption>
    <tr>
        <th colspan="2" class="txt_center">Stats</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Base stat</th>
    </tr>
    {% for name, stat in pokemon.pok_stats.items %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ stat }}</td>
        </tr>
    {% endfor %}
</table>

    <h1>Evolutions</h1>
{% if evolutions %}
    <ul>
        <li>Unevolved: 
            <a href="{% url 'pokemon:detail' pk=evolutions.base.p_id %}" {% ifequal evolutions.base.name pokemon.name %}class="disabled"{% endifequal %}>{{ evolutions.base.name|title }}</a>
        </li>
    {% if evolutions.first %}
        <ul>
        {% for evo1 in evolutions.first %}
        <li>First level evolution: 
            <a href="{% url 'pokemon:detail' pk=evo1.p_id %}" class="{% ifequal evo1.name pokemon.name %}disabled{% endifequal %}">{{ evo1.name|title }}</a>
        </li>
            {% if evolutions.second %}
            <ul>
                {% for evo2 in evolutions.second %}
                    <li>Second level evolution: 
                        <a href="{% url 'pokemon:detail' pk=evo2.p_id %}" class="{% ifequal evo2.name pokemon.name %}disabled{% endifequal %}">{{ evo2.name|title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    </ul>
{% else %}
    <br><p>Pokemon without evolutions</p>
{% endif %}
{% endblock %}