{% extends 'main.html' %}
{% load custom_tags %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    table {
        border-spacing: 5px;
        width: 100%;
    }
</style>


    <table>
        <caption>List of Pokemon</caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Types</th>
            <th>Details</th>
        </tr>
        {% for pokemon in pokemons %}
        <tr>
            <td>{{ pokemon.url|pokemon_id }}</td>
            <td>{{ pokemon.name|title }}</td>
            <td>
                    {% for type in pokemon.url|types %}
                    {% if forloop.last %}
                        {{ type }}
                    {% else %}
                        {{ type }},
                    {% endif %}
                {% endfor %}
            </td>
            <td><a href="{% url 'pokemon:detail' pk=pokemon.url|pokemon_id %}">More details</a></td>
        {% endfor %}
        
    </table>

    {% if is_paginated %}
    <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
        {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock %}