{% extends 'main.html' %}

{% block content %}
{% if pokemon.previous %}
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" value="first" name="first">First</button> 
                <button type="submit" value="previous" name="previous">Previous 10</button> 
            </form>
        {% endif %}

    <ul>
    {% for pokemon in pokemon.results %}
        <li>{{ pokemon.name }}</li>
    {% endfor %}
        <!-- {{ offset }} -->
    </br>
    {% for pok in detail %}
        <li>{{ pok.name }}</li>
    {% endfor %}
    {% if pokemon.next %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" value="next" name="next">Next 10</button> 
            <button type="submit" value="last" name="last">Last</button> 
        </form>
        {% endif %}
    </ul>
{% endblock %}