{% extends 'main.html' %}
{% load custom_tags %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    table {
        border-spacing: 5px;
        width: 100%;
    }
</style>


{% if pokemon.previous %}
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" value="first" name="first">First</button> 
                <button type="submit" value="previous" name="previous">Previous 10</button> 
            </form>
        {% endif %}
    <table>
        <caption>List of Pokemon</caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Types</th>
            <th>Details</th>
        </tr>
        {% for pokemon in pokemon.results %}
        <tr>
            <td>{{ detail.id|index:forloop.counter0 }}</td>
            <td>{{ pokemon.name|title }}</td>
            <td>
                {% for type in detail.types|index:forloop.counter0 %}
                    {% if forloop.last %}
                        {{ type }}
                    {% else %}
                        {{ type }},
                    {% endif %}
                {% endfor %}
            </td>
            <td><a href="{% url 'pokemon:detail' pk=detail.id|index:forloop.counter0 %}">More details</a></td>
        </tr>
        {% endfor %}
        
    </table>
    {% if pokemon.next %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" value="next" name="next">Next 10</button> 
            <button type="submit" value="last" name="last">Last</button> 
        </form>
        {% endif %}
{% endblock %}